.ad {
	float: left;
	width: 100%;
}
.html-ads {
	margin: 10px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	background: url(/images/Online-Education.jpg);
	float:left;
	height: 581px !important;
	background-position: -490px -68px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 99 !important;

	.ads-content {
		float: left;
		width: 100%;
		margin: 0px;
		padding: 0px 5px;
		background: rgba(0, 0, 0, 0.5);
		height: 513px;
		img {
			width: 62px;
			float: left;
			padding: 3px;
		}
		h1 {
			float: left;
			width: 100%;
			margin: 0px;
			color: #ffffff;
			padding: 75% 0px 35px;
			z-index: 999999 !important;
			font-size: 57px;
			text-transform: capitalize;
			font-weight: bold;
			font-family: 'Open Sans', sans-serif;
			span {
				float: left;
				width: 100%;
				font-size: 18px;
				padding: 8px 0px;
			}

		}
		button {
			background: rgba(21, 164, 91, 0.5);
			border: none;
			color: #ffffff;
			font-size: 21px;
			text-align: center;
			text-transform: capitalize;
			border-radius: 5px;
			padding: 7px 30px;
		}
	}


}
.html-ads-home{
	padding: 0px;
	width: 100%;
	float: left;
	text-align: center;
	background: url(/images/Online-Education2.jpg);
	height: 430px;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 99 !important;
	a {
		width: 100%;
		float:left;
		.ads-content {
			width: 200px;
			background: rgba(193, 91, 89, 0.9);
			height: 430px;
			margin: 0px;
			float:left;

			h1 {
				float: left;
				width: 100%;
				color: white;
				font-size: 70px;
				text-transform: capitalize;
				font-weight: bold;
				font-family: "Open Sans", sans-serif;
				z-index: 999999;
				margin: 0px;
				padding: 22% 0px 35px;
				span {
					float: left;
					width: 100%;
					font-size: 22px;
					padding: 8px 0px;
				}
			}


		}
		img {
			width: 50px;
			position: absolute;
			bottom: 85px;
			right: 100px;
		}
		p {
			padding: 0px;
			margin: 0px;
			float: left;
			text-align: center;
			width: 100%;
			line-height: 30px;
			color: #fff;
			font-size: 17px;
			font-weight: bold;
			text-transform: capitalize;
		}
		h5 {
			float: left;
			width: 100%;
			margin: 0px;
			padding: 0px;
			color: #ffffff !important;
			font-weight: 300;
			font-family: 'Open Sans', sans-serif;
		}
		hr {
			margin-top: 7px;
			margin-bottom: 7px;
			border: 0;
			display: inline-block;
			border-top: 1px solid #fff;
			float: none;
			color: #fff;
			width: 135px;
		}

	}
}

.adsbygoogle{
	float: left;
	width:100% !important;
	ins{
		float: left;
		width:100% !important;
		ins{
			float: left;
			width:100% !important;
			iframe{
				float: left;
				width:100% !important;
			}
		}
	}
}
.publish-ads{
	width:100%;
	float:left;
border:solid 1px #dedede;
.publish-ads-top {
		width: 100%;
		position: relative;
		img {
			max-width: 100%;
			object-fit: cover;
			height: 270px;
			width: 100%;
		}
		p {
			background: rgba(0, 0, 0, 0.6) ;
			    border-radius: 5px;
			    color: #fff;
			    font-size: 15px;
			    margin: 38px 4%;
			    padding: 10px;
			    position: absolute;
			    top: 34px;
			    width: 92%;
		}
	}

	.publish-lower {
		background: #fff;
		text-align: center;
		padding:0px 0px 20px;
		width: 100%;
		img {
			width:100px;
			padding:10px 0px;
		}
		h3 {
			font-size: 16px;
			font-weight: 600;
			color: #1d75a1;
			width: 100%;
			}
			p {
				color:#000;
			}
	}
	.publish-ads-top2 {
	    width: 100%;
	    img {
	        width: 100%;
	    }
	}
.publish-lower2{
	    background: #fff ;
	    float: left;
	    padding:0px 10px 10px;
	    text-align: center;
	    width:100%;
	h3 {
	    color: #000 !important;
	    font-size: 22px;
	    text-align: center;
	    width: 100%;
	}
 img {
	    width: 100px;
	}
	 span {
	    float: left;
	    width: 100%;
	}
	h4{
		border-bottom: 1px solid #dfdfdf;
		  color: #000;
		  float: left;
		  margin: 10px 0 0;
		  padding: 5px 0;
		  text-align: center;
		  width: 100%;
	}

}
}