#home{
	.ho{
		position:relative;
		h1,h4{
			color:#fff;
		}
		.inn{
			position: absolute;
			top: 195px;
			text-align: center;
			width: 100%;
			input{
				opacity: 0.8;
				padding: 36px 21px;
				width: 100%;
				font-size: 18px !important;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				outline: 0px;
				border: 0px;
			}
			.input-group-addon{
				background: #ff6745;
				padding: 0px 33px 1px !important;
				font-size: 26px;
				color: #fff;
				border: 0px;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			}
		}
		img{
			width: 100%;
			height: 700px;
			object-fit: cover;
			object-position: top left;
		}
		h1{
			margin-top: 40px;
			margin-bottom: 0;
			font-size: 45px;
			font-weight: bold;
			word-spacing: 5px;
		}
		h4{
			margin: 30px 0;
			font-size: 21px;
			font-style: italic;
		}
		.search{
			padding: 0 3px;
			max-width: 600px;
			margin:0 auto;
		}
	}
	.co{
		padding: 35px 20px;
		margin: 20px 0 0 0;
		background: grey;
		.sid{
			span{
				display: block;
				color: #fff;
				font-size: 20px;
				text-align: center;
				margin: 21px;
			}
			a{
				margin: 0 auto;
				display: block;
				width: 200px;
			}
		}
		.fun{
			text-align:center;
			color: #fff;
			&:hover{
				
				color: #fff;
			}
			img{
				height: 98px;
				margin:0 auto;
				margin-bottom: 4px;
				display: block;
			}
			span{
				margin:0 auto;
				margin-bottom: 14px;
				display: block;
			}
		}
	}
	.mo{
		color:#fff;
		position: relative;
		display: none;
		h1{
			color: #fff;
		}
		img{
			width:100%;
			height: 420px;
			object-fit: cover;
			object-position: top right;
		}
		.inn{
			position: absolute;
			top: 0;
			text-align: center;
			width: 100%;
			padding:30px;
			padding-top: 85px;
		}
		.applink{
			color: #fff;
			display: block;
			padding: 27px;
			border: 2px solid;
			max-width: 372px;
			margin: 27px auto;
			position: relative;
			height: 127px;
			&:hover{
				border: 2px solid #ff6745;
				background: #ff6745;
			}
			img{
				width: 58px;
				height: auto;
				position: absolute;
				left: 29px;
			}
			.q1{
				position: absolute;
				top: 22px;
				right: 93px;
				font-size: 20px;
			}
			.q2{
				position: absolute;
				top: 48px;
				font-size: 39px;
				right: 75px;
			}
		}
	}
	.po{
		.tol{
			color: #c3c3c3;
			margin: 0;
			i{
				color: #ff6745
			}
			.sel{
				padding: 30px;
				font-size: 22px;
				cursor: pointer;
				border-bottom: 1px solid #eee;
				height: 100px;
			}
			.active{
				border-bottom: 1px solid #e64622;
				background: rgba(255,103,69,.12);
			}
		}
	}
}

.hopo2,.hopo3{
	display:none;
}
section{
	.outer-wrapper{
		padding:50px 0;
		float:left;
		width:100%;
		// .categ-animate{
		// 	visibility: hidden;
		// 	 opacity: 0.0;
		// 	 position: relative;
		// }
		.catg-wrapper{
			padding:3px;
			background:#fdfdfd;
			transition: all 500ms ease;
			-webkit-transition: all 500ms ease;
			transform-origin: 50% 0%;
			-webkit-transform-origin: 50% 0%;
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
	
			img{
				margin-top:5px !important;
			}
			p{
				font-size:9px !important;
				font-weight:800;
				margin:0 !important; 
				color:#000;
				letter-spacing: 0px;
				word-spacing: 0px;
				text-transform: uppercase;
			}
			&:hover{
				transition: all 500ms ease;
				-webkit-transition: all 500ms ease;
				transform-origin: 50% 0%;
				-webkit-transform-origin: 50% 0%;
				transform-style: preserve-3d;
				-webkit-transform-style: preserve-3d;
				cursor:pointer;
				-webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.18);
				-moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.18);
				box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.18);
				border:solid 1px rgba(224, 224, 224, 0.5) !important;
			}
		}
		.heading-bar{
			padding: 10px;
			color:#000;
			margin-bottom: 20px;
			text-align:center;
			h3{
				margin:0px !important;
				margin-bottom:5px !important;
				font-family: 'Raleway', sans-serif;

			}
			.heading-large{
				float:left;
				width:100%;
			}
			.heading-small{
				float:left;
				width:100%;
			}

		}
	}
	.inner-wrapper{
		float:none;
		width:100%;
		padding:12px 0px;
		display: table;
		background:rgba(255, 255, 255, 0.82);

		h2{
			color:#ff6745;
			font-size:22px !important;
			font-family: 'Open Sans', sans-serif;
		}
	}
	.white-border{
		border:solid 15px transparent;
	}
}



footer{
	background:#253939;
margin-top:30px;

	p{
	color:#7d9494;
	}
	address{

	color:#7d9494;
	}
	.heading-small h4{
		color:#5fa292;
		margin:22px 0px !important;
		font-weight:bold !important;
	}
	ul#vertical-menu{
		list-style: none;
		padding:0;
	}
	ul#vertical-menu a{
		color:#7d9494;
		&:hover{

		color:#fff;
		}
	}

}
.testimonial p{
	letter-spacing:0;
	word-spacing:0;
	font-size:14px;
}

     @media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}


#fsModal.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#fsModal .modal-dialog {
  position: static;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow:scroll;
}

#fsModal .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
  background:rgba(255,255,255,0.9);
}

#fsModal .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #253939;
  border: 0;
}

#fsModal .modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

#fsModal .modal-body {
  position: absolute;
  top: 50px;
  width: 100%;
  font-weight: 300;
  overflow: auto;

}

#fsModal .modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}
 .customclass {
            display: table;
            padding:10px;
            border:solid 1px #ececec;
                background: white;
                  transition: box-shadow .5s;

        }
        .customclass:hover{
        background:#fff;
-webkit-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.26);
-moz-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.26);
box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.26);                            
transition: box-shadow .5s;



        }
         .customclass:hover a{
         color:#fe8b6c; 
         }
        .customclass span, .customclass a{
            display: table-cell;
            vertical-align: middle;
        }
        .customclass a{
        font-size: 14px;
    color: #253939;
    text-align: left;
    text-indent: 10px;
    text-transform: uppercase;
    font-weight: 600;
        }



        .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
            background-color: #558188;
            color:#fff;
        }

        .pagination li{
        display:none !important;
        }
        .pagination li:first-child{
        display:inline !important;
        }
           .pagination li:last-child{
        display:inline !important;
        }
        .pagination li.active{
        display:inline !important;
        }

        .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #428bca;
}

.margintop20 {
    margin-top:20px;
}

.nav-pills>li>a {
border-radius: 0px;
}

.nav-stacked a {
color: #000;
text-decoration: none;
}

.nav-stacked a:hover {
color: #000;
text-decoration: none;
}


.nav-stacked>li+li {
margin-top: 0px;
margin-left: 0;
border-bottom:1px solid #dadada;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
}

.active2 {
    border-right:4px solid #428bca;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color:transparent;
	color:#fe8b6c;
	border-right:solid 6px #fe8b6c;
}

.affix {
      top: 20px;
  }
  .affix-bottom{
  position:relative;
  }

  .vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


//* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999999;
	background: url(/images/output.gif) center no-repeat #fff;
	background-size:60px;
}

		.line_c:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: solid 1px #e6dddd;
  transform: translate(-50%);
}


.btn-main{
	    background: #ff8b6c;
    padding: 15px 25px;
    font-weight: bold;
    border: solid 1px #c1593d;
    font-size: 20px;
}
.btn-main:hover{
		    background: #fff;
		    color:#fe8b6c;

}





/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}



/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
    background:#ff8b6c;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0;
	    background:#fff;
	    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
      bottom:0;
	    width: 80%;
	    left: -80%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:768px) { 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    z-index:99;
    color:#fff;
    border:0;
    background:rgb(37, 57, 57);
}
.back-to-top:hover{
	background:#ff8b6c;
}
