@media print{
	footer,.addComment,.navi,.noprint,.voting,.intract {display:none;}
	a[href]:after {
		content: none !important;
	}
}


@media screen and (max-width: 980px) {
	.gv-post-title h2{
		font-size: 24px !important;

	}
	.postbox .date .social {
		position: relative;
		right: auto !important;
		top: auto !important;
		float: right;
		width: 100% !important;
	}

	.html-ads-home a img {
		bottom: 66px !important;
		right: 38px !important;
	}
	.html-ads-home {

		float: left;
		height: 367px !important;
	}
	.html-ads-home a .ads-content {
		width: 175px !important;
		float: left;
		height: 367px!important;

	}
	.html-ads-home a .ads-content h1 {
		float: left;
		font-size: 42px !important;
	}
	.html-ads-home a .ads-content h1 span {
		float: left;
		font-size: 15px !important;
	}
	.html-ads .ads-content h1 {
		float: left;
		font-size: 40px !important;
	}
	.html-ads .ads-content button {
		padding: 7px 19px !important;
	}
}
@media screen and (max-width: 852px) {

.publish-ads .publish-ads-top p {
    font-size: 13px;
    }
}
@media screen and (max-width: 768px) {
.nav-pills > li > a{
	font-size:10px;
}
	.bottom-margin-xs{
		margin-bottom:10px;
	}
	.postbox .intract-postbox{
		padding:15px 10px !important;
	}
	.publish-ads .publish-lower2 h4 {
	    border-bottom: none;
	}
	.html-ads {
	    height: auto !important;
	    float: left;
	    background-position: 100% !important;
	}
	.html-ads .ads-content h1 {
		float: left;
		font-size: 30px !important;
	}
	.html-ads .ads-content h1 span {
		float: left;
		width: 100%;
		font-size: 14px !important;
	}
	.html-ads .ads-content button {
		padding: 7px 4px !important;
	}

	.navi{
		padding: 17px 4px 25px 0;
		.search{
			position: static;
			width: 70%;
			max-width: 100%;
			margin: 0 auto;
			margin-top: 17px;
		}
	}
	#wall{
		.cats{
			.catbar{
				display: block;
			}
			.catlist{
				display: none;
				margin-top: 4px;
			}
		}
	}
	#home .ho .inn {
	    top: 20px;
	}
	#home .ho img {
	    height: 500px;
	    object-position: 24% 80%;
	}
}
@media screen and (max-width:767px) {
			
	.gv-post-title h2{
		font-size: 20px !important;

	}
	.html-ads .ads-content {
		background: rgba(193, 91, 89, 0.9) !important;
		float: left;
		width: 200px !important;
		height: 430px !important;

	}
	.html-ads .ads-content h1 {
		float: left;
		padding: 40px 0px !important;
	}
	.html-ads .ads-content button {
		padding: 7px 35px !important;
		float: left;
		margin: 0px 20px;
	}
	.html-ads .ads-content img {
		width: 62px;
		margin: 18px 0px;
		float: none !important;
	}
}
@media screen and (max-width: 480px) {
.color-orange{
	background-position:center !important;
}
body{
	margin-top:0 !important;
}
.navbar{
	margin-bottom:0;
}
.search-box{
	position:static !important;
}
.search-box #query{
	width:100% !important;
	background:#fff !important;
}
.search-box button[type="submit"]{
	width:100% !important;
}
#fsModal .modal-dialog{
	position:static;
}
.authorization .row.equal{
	margin:0;
	padding:0;
}
.authorization .row.equal .right .inner.line_c{
	padding:0;
	}

	#post .controls {
		top: -3px;
	}
	.postbox .date .social{
		right: 74px;
		top: -4px;
		a{
			font-size: 16px;
		}
	}
	.navi{
		padding: 17px 4px 25px 0;
		.search{
			position: static;
			width: 90%;
			max-width: 100%;
			margin: 0 auto;
			margin-top: 17px;
		}
		.bars{
			position:static;
			margin-top: 20px;
			margin-left: 20px;
		}
		.head img {
			height: 50px;
			padding-left: 30px;
			padding-top: 12px;
		}
	}
}
@media screen and (max-width: 480px) {
	.publish-ads .publish-ads-top p {
	    color: #fff;
	    font-size: 12px;
	}
	}
@media screen and (max-width: 320px) {
		.publish-ads .publish-ads-top p {
		    color: #fff;
		    font-size: 11px;
		}
		}