#wall{
	.boosted{
		margin-top: 50px;
	}
	.btnCreatePost{
		font-size: 14px;
		color: #fff;
		background: #5fa292;
		top: -48px;
		margin: 0 auto;
		display: block;
		padding: 8px 5px;
		border:solid 1px #47907e;
		text-align-last: center;
	}
	.wall{
	}
	.cats{
		.catbar{
			text-align: center;
			color: #fff;
			background: #ff6745;
			padding: 6px;
			font-size: 20px;
			cursor: pointer;
			display: none;
		}
		h3{
			font-size: 20px;
			color: #006495;
			margin: 20px 9px;
			margin-top:0px; 
		}
		.catlist{
			border: solid 1px #e2e2e2;
			background: #fff;
			.cat{
				cursor: pointer;
				position:relative;
				color:red;
				.edit{
					position: absolute;
					padding:8px;
					top: 5px;
					right: 30px;
				}
				.delete{
					position:absolute;
					padding:8px;
					top:5px;
					right: 4px;
				}
				.catlink{
					padding: 12px 20px;
					font-size: 16px;
					color: #8d8d8d;
					display: block;
					&:hover{
						background: #ff6745;
						color: #fff;
					}
				}
			}
		}
	}
}


.postbox{
	position: relative;
	background: #fff;
	color: #666;
	padding: 30px 0px;
	padding-bottom: 11px;
	border-radius:2px;
	border: solid 13px #eeeeee;
    border-top: solid 0px whitesmoke;
	.modalQuestion{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99999;
		height: 100vh;
		background: rgba(0,0,0,0.8);
		text-align: center;
		overflow:scroll;
		img{
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			max-height:100%;
			max-width:100%;		}

		}
		.gv-post-title{
			float:left;
			margin: 23px 0 5px;
			display: table;
			.cl{
				display:table-cell;
				vertical-align:middle;
				padding:5px;
                                img{
                                object-fit:cover;
                                overflow:hidden;
                                max-height:45px;
                                }

			}
			h3{
				margin-top:0;color:#253939;
				transition: all 0.17s ease-in-out;
				-moz-transition: all 0.17s ease-in-out;
				-webkit-transition: all 0.17s ease-in-out;
				-o-transition: all 0.17s ease-in-out;
				font-size: 20px;
				font-weight:700;
				&:hover{
					color:#fe8b6c;
					transition: all 0.17s ease-in-out;
					-moz-transition: all 0.17s ease-in-out;
					-webkit-transition: all 0.17s ease-in-out;
					-o-transition: all 0.17s ease-in-out;
				}
			}
			h2{
				margin-top:0;color:#f35531;
			}
		}
		.gv-post-info{
			padding-bottom: 20px;
			float:left;
			width: 100%;
			margin:0px;
			.no-bg{
				background:transparent !important;
				border:0 !important;

			}
			.color-bg{
				border:solid 1px #f18d50 !important;
				color:#fff !important;
				background:#ff9d60 !important;
				font-size:12px;

				&:hover{
					background:#fe8b6c !important;
					border:solid 1px #fe8b6c !important;

				}
			}
			.info-blk{
				padding:10px;
				background:#f6f6f6;
				border:1px solid #e4e6e8;
				margin-right: 3px;
				float: left;
				text-transform: uppercase;
				
				letter-spacing:0px;
				line-height: 18px;
			}
			span{
				color:#808080;
				.dropdown{
				position:inherit !important;
                                 }
			}
			.cat{
				font-weight:bold;
				&:hover{
					color:#000;
				}
			}
		}
		.gv-user-type{
			background:#ff6745;
			color:#fff;
			padding:15px 10px;;
			width:100%;
			float:left;
		}
		.gv-post-content{
			float:left;
			width:100%;
			margin-bottom: 15px;
			p{
				padding: 0px 20px;
			}
			.csvQues{
				padding: 0px 20px !important;
				p{
					padding: 0px !important;
				}
			}
			ul{
				line-height: 26px;
				padding:0px 54px;
				font-size:16px;
				letter-spacing:1px;
				word-spacing:1px;
				color:#000;
			}
			ol{
				line-height: 26px;
				padding:0px 54px;
				font-size:16px;
				letter-spacing:1px;
				word-spacing:1px;
				color:#000;
			}
			h1,h2,h3,h4,h5,h6{
				line-height: 26px;
				padding:0px 20px;
				font-size:16px;
				letter-spacing:1px;
				word-spacing:1px;
				color:#000;
			}
		}
		.postimg{
			max-width: 100%;
			max-height: 400px;
			overflow:hidden;
			object-fit: cover;
		}
		.intract-postbox{
			border-top:solid 1px #efefef;
			float:left;
			width:100%;
			.info-blk{
				padding:10px;
				background:#f6f6f6;
				border:1px solid #e4e6e8;
				margin-right: 10px;
				float: left;
				text-transform: uppercase;
				font-size:11px;
				letter-spacing:1px;
			}
			span{
				width: 100%;
				color: #717171;
				font-size: 16px;
				i{
					font-size: 18px;
					color: #717171;
				}
			}
		}
		.intract{
			display: block;
			font-size: 17px;
			padding:0;
			.sat{
				padding: 0 0px 2px 18px;
				color:#006495;
				display: inline-block;
			}
			a{
				display: inline-block;
			}
			.like,.unlike{
				text-decoration: underline;
				font-size: 15px;
			}
			.liked{
				color: #036696;
				font-size: 15px;
				margin-right: 4px;
			}
		}
		.user{
			padding: 10px 0;
			position:relative;
			overflow: hidden;
			.name{
				position: relative;
				font-size: 18px;
				padding: 8px 10px 0;
				float: left;
			}
			.bio{
				width: 100%;
				float: left;
				padding: 5px 0px;
			}
		}
		.title{
			color: #333;
			font-size: 24px;
			font-weight: 700;
			display: block;
			img{
				max-height: 26px;
			}
		}
		.content,.imglink,.postModalImage{
			color: #666;
			cursor: pointer;
		}
		.date{
			position:relative;
			.social{
				position: absolute;
				right: 84px;
				top: -10px;
				a{
					display: inline-block;
					font-size: 20px;
					padding: 4px;
				}
				.twitter{
					color: $tw;
				}
				.facebook{
					color: $fb;
				}
				.google{
					color: $ggl;
				}
			}
			.views{
				float:right;
			}
		}
		a{
		// display: block;
	}
}

#post{
	.controls{
		position: absolute;
		right: 4px;
		top: 4px;
		a{
			display: inline-block;
			padding: 4px;
			font-size: 13px;
			color:#fff;
		}
	}
	.user{
		margin-bottom: 4px;
	}
}

.comments{
	.voting{
		a{
			display: inline-block;
		}
	}
	.eachComment{
		border-top: 1px solid #ececec;
		padding: 7px;
		margin: 20px auto;
		position:relative;
		box-shadow:0px 3px 4px -1px rgba(0, 0, 0, 0.1);
		.cross{
			position: absolute;
			right: 3px;
			top: -3px;
			z-index: 200;
			padding: 5px;
		}
		.content{
			color:#666;
			padding: 6px 13px;
		}
		.user{
			padding-top: 0px;
			position:relative;
			img{
				height: 40px;
				width: 40px;
				border-radius: 100%;
				margin-left: 7px;
				float: left;
			}
			.name{
				position: relative;
				font-size: 18px;
				padding: 8px 10px 0;
				float: left;
				font-size: 11px !important;
			}
			.bio{
				width: 100%;
				float: left;
				padding: 5px 0px;
			}
		}
	}
}

.addComment{
	border-top:solid 1px #ccc;
	padding-top:15px;
}

@media(max-width:480px){
.postbox{
border:0 !important;
}
}
