// $pc:#518E8A; //dark green
// $pc:#365D96;//blue
// $pc:#F86440; //orange
// $pc:#5AC6AA;//turqoise light green
// $pc:#F18B9C; //pink
 $pc:#DCBA93; //coffee
// $pc:#406D85;//steel;
// $pc:#68D5F7; blue
// $pc:#1DE9B6;// main1
// $pc:#9E9D24; //main2

// $bc:#333;
$bc:#fff;

$sc:#406D85;

$fb:#3B5A9A;
$ggl:#E33E2B;
$tw:#1da1f2;